<div class="notes">
    <div class="notes-title" data-lang="notesTitle">
        📋 หมายเหตุ
    </div>
    <div class="note-item" data-lang="noteItem1">
        มีที่พักสำหรับการนอนภายในบริเวณออฟฟิศที่เชียงใหม่
    </div>
    <div class="note-item" data-lang="noteItem2">
        ผู้ที่เริ่มเดินทางภายหลังวันที่ 25 ตุลาคม หรือผู้ใดที่ประสงค์กลับก่อน กรุณาวางแผนการเดินทางไป–กลับด้วยตนเอง
    </div>
    <div class="note-item" data-lang="noteItem3">
        <b>สำคัญมาก:</b> ผู้ที่จะเดินทาง ขอความกรุณา ขออนุญาตหัวหน้าก่อน
    </div>
</div>